* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;

    justify-content: center;
    align-items: center;
}

.main-div {
    margin-top: 100px;
    width: 200px;

    display: flex;
    flex-direction: column;

    border: 6px solid gray;
}

.display-row {
    width: 100%;
    height: 70px;
    background-color: gainsboro;

    border: 4px solid black;

    font-size: 24px;
    word-wrap: break-word;
}

.row {
    display: flex;
}

.row button {
    width: 25%;
}

button {
    font-size: 24px;

    border: 1px solid black;
}

.btn-nmb,
.btn-zero,
.btn-float,
.btn-reverse-sign {
    background-color: #92A8D1;
}

.btn-op {
    background-color: #F7CAC9;
}